%h3.subtitle= "all emails here  #{@emails.count}"
.mail_list
  %br
  %table
    - @emails.each_with_index do |email, index|
      %tr
        %td
          %a.subject{:href => "/emails/#{email.id}/contacts/new"}= email.subject
        %td
          = email.from
        %td
          = email.date
      