%h3.title Listado de correos
%p.text= "Has ingresado a spider con la dirección de correo electrónico: #{current_user.email}"
%p.text= "Dando clic en el asunto de cada mensaje se abrirá un ventana en la cual puedes seleccionar los contacto para almacenar en la aplicación."
.mail_list
  %p.text= "Número de correos:  #{@emails.count}"
  %table
    - @emails.each_with_index do |email, index|
      %tr
        %td.subject
          %a.subject.box{:href => "/emails/#{email.id}/contacts/new"}
            = email.subject
        %td.from
          = ":: #{email.from}"
        %td
          = ":: #{email.date.to_date.strftime('%d/%m/%y')}"
  != pagination(@emails, params, params[:page].present? ? params[:page].to_i : 1)
