%p.text= "Has ingresado a spider con la dirección de correo electrónico: #{current_user.email}"
.mail_list
  %p.text= "Número de correos:  #{@emails.count}"
  %table
    - @emails.each_with_index do |email, index|
      %tr
        %td
          %a.subject{:href => "/emails/#{email.id}/contacts/new"}= email.subject
        %td
          = ":: #{email.from}"
        %td
          = ":: #{email.date}"
      